# Carpetas generadas por dbt
target/
dbt_packages/

# Logs y archivos temporales
logs/
dbt.log

# Entornos virtuales y archivos de entorno
env/
venv/
.env

# Archivo de configuración de dbt (puede contener credenciales)
profiles.yml
.user.yml
# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

shopify_orders.json